# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtualenv
.env/
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Logs e cache del progetto
*.log
data/cards_cache.json